* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.navbar {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-image: url("image/background_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(2200px, 100vw);
}
nav {
  min-height: 90px;
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
nav img {
  position: relative;
  z-index: 1;
  height: 45px;
}
@media screen and (max-width: 520px) {
  nav img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
nav .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 23px;
  height: 100%;
  width: 250px;
}
nav .button1 {
  cursor: pointer;
  position: relative;
  z-index: 1;
  height: 33px;
  padding: 4%;
  gap: 10px;
  border-radius: 5px;
  display: flex;
  background-color: black;
  align-items: center;
  border: 0.1px solid rgb(154, 148, 148);
}
.button1 svg {
  height: 70px;
  color: rgb(235, 223, 223);
}
.button1 p {
  color: rgb(235, 223, 223);
  font-weight: 600;
}
@media screen and (max-width: 280px) {
  .button1 p {
    display: none;
  }
}
.button1 img {
  height: 13px;
}
.button2 {
  position: relative;
  cursor: pointer;
  z-index: 1;
  height: 35px;
  padding: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  background-color: rgb(222, 25, 25);
}
.button2:hover {
  background-color: rgb(192, 16, 16);
}
.box {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
}
.hero {
  margin: auto;
  margin-top: 14%;
  padding-bottom: 10%;
  height: 86%;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
}
.hero p {
  color: white;
  text-align: center;
}
.hero .para1 {
  font-size: 2.7rem;
  font-weight: 800;
}
.hero .para2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.hero .para3 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.9rem;
}
@media screen and (max-width: 350px) {
  .hero .para1 {
    font-size: 1.5rem;
  }
  .hero .para2 {
    font-size: 1.2rem;
  }
  .hero .para3 {
    font-size: 1.1rem;
  }
}
.center {
  padding-left: 30px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.center input {
  background-color: rgb(33, 33, 33);
  opacity: 0.7;
  padding: 1rem;
  min-width: 35%;
  border-radius: 5px;
  font-size: 1rem;
  border: 0.5px solid rgb(203, 199, 199);
  color: white;
}
.center input::placeholder {
  color: rgb(255, 255, 255);
}
.center .button:hover {
  background-color: rgb(192, 16, 16);
}
.center .button {
  cursor: pointer;
  padding: 5px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20%;
  background-color: rgb(255, 4, 4);
  border-radius: 5px;
  font-weight: 600;
  color: white;
}
@media screen and (max-width: 260px) {
  .center .button {
    font-size: 0.8rem;
  }
  .center input {
    padding: 0.5rem;
  }
  nav img {
    height: 30px;
  }
}
@media screen and (max-width: 820px) {
  #this1 {
    font-size: 1.5rem;
  }
  #this2 {
    font-size: 1rem;
  }
  section {
    flex-wrap: wrap;
  }
}
hr {
  margin-bottom: 20px;
  border: none;
  height: 9px;
  background-color: rgb(29, 29, 29);
}
section {
  min-height: 80vh;
  max-width: 80vw;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
section .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
}
section .left h2 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}
section .left p {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
section .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
section .right img {
  width: 40vw;
  position: relative;
  z-index: 2;
}
section .right video {
  width: 30vw;
  position: absolute;
}
@media screen and (max-width: 750px) {
  section .right img {
    width: 55vw;
  }
  section .right video {
    width: 45vw;
  }
}
@media screen and (max-width: 420px) {
  section .right img {
    width: 85vw;
  }
  section .right video {
    width: 75vw;
  }
}
#video2 {
  width: 25vw;
  margin-bottom: 10vh;
}
@media screen and (max-width: 420px) {
  #video2 {
    width: 50vw;
    margin-bottom: 10vh;
  }
}
.part1 {
  min-height: 150vh;
  margin: auto;
  width: 90vw;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
}
@media screen and (max-width: 450px) {
  .part1 .heading {
    font-size: 1.3rem;
  }
  .part1 .question .para {
    font-size: 0.9rem;
  }
  .part1 .question img {
    height: 20px;
  }
  .part1 #last_para {
    font-size: 1rem;
  }
}
.part1 h2 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  margin-bottom: 20px;
}
.question {
  cursor: pointer;
  height: 85px;
  width: 75vw;
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: rgb(50, 50, 50);
}
.part1 .question:hover {
  background-color: rgb(72, 70, 70);
}
.question p {
  color: white;
  font-size: 1.4rem;
  padding-bottom: 15px;
}
.question img {
  height: 40px;
}
@media screen and (max-width: 220px) {
  .question img {
    display: none;
  }
}
.part1 p:nth-last-child(2) {
  font-size: 1.3rem;
  color: white;
  margin-top: 40px;
  margin-bottom: 13px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  section {
    min-height: 40vh;
  }
  .part1 {
    min-height: 100vh;
  }
}
.part2 {
  margin: auto;
  min-height: 65vh;
  max-width: 70vw;
  display: flex;
  row-gap: 27px;
  justify-content: center;
  flex-direction: column;
}
.part2 .end {
  display: grid;
  gap: 20px;
  column-gap: 20px;
  grid-template-columns: 170px 170px 170px 170px;
}
@media screen and (max-width: 900px) {
  .part2 .end {
    grid-template-columns: 170px 170px 170px;
  }
}
@media screen and (max-width: 655px) {
  .part2 .end {
    grid-template-columns: 170px 170px;
  }
}
@media screen and (max-width: 430px) {
  .part2 .end {
    grid-template-columns: 170px;
  }
}
.part2 .end a {
  color: rgb(166, 163, 163);
  font-weight: 600;
}
.part2 span {
  color: rgb(196, 192, 192);
  font-weight: 600;
}
@media screen and (max-width: 280px) {
  .part2 .end a {
    font-size: 0.8rem;
  }
  .part2 .end {
    grid-template-columns: 70vw;
  }
}
.part2 .button1 {
  cursor: pointer;
  width: 150px;
  height: 36px;
  gap: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  border: 0.1px solid rgb(154, 148, 148);
}
@media screen and (max-width: 280px) {
  .part2 .button1 {
    width: 70px;
  }
}
.part2 .button1 svg {
  height: 70px;
  color: rgb(235, 223, 223);
}
.part2 .button1 p {
  color: rgb(235, 223, 223);
  font-weight: 600;
}
.part2 .button1 img {
  height: 13px;
}
